<section class="section-3 py-5">
    <div class="container">
        <h2 class="text-center section-3__heading mb-5">LƯU Ý</h2>
        <div class="row gx-5 gy-4">
            <div class="col-lg-6">
                <div class="section-3__box  p-3 h-100">
                    <h5 class="fw-bold mb-3" style="margin-top: 1rem;">TIỀN LƯƠNG:</h5>
                    <ul class="list-unstyled section-3__list">
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Khi đến hạn đóng học phí, GS vui
                            lòng gửi STK và nhắc PH/HV thanh toán đúng hạn.</li>
                        <li class="ps-4">Nội dung chuyển khoản: <strong>“HỌC PHÍ + MÔN HỌC”</strong>.</li>
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Kết thúc mỗi tháng dạy, GS chỉ tiếp
                            tục dạy khi học phí đã được thanh toán.</li>
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Lớp dạy Offline thu vào cuối tháng
                            (30 ngày kể từ ngày bắt đầu).</li>
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Lớp dạy Online sẽ thu tiền
                            <strong>TRƯỚC</strong> 4 buổi kể từ buổi thứ 2.
                        </li>
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>GS nhận lương trực tiếp từ HV/PH
                            thì chỉ được nhận lương trước theo tuần.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="d-flex section-3__box  flex-column justify-content-between">
                    <h5 class="fw-bold  mb-3">THỜI LƯỢNG DẠY MỖI BUỔI:</h5>
                    <ul class="list-unstyled section-3__list">
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Lớp sinh viên 2h/buổi.</li>
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Lớp giáo viên 1h30p/buổi (trừ lớp
                            <strong>ĐÀN</strong> chỉ dạy 1h, lớp <strong>TIN HỌC</strong> dạy 1h30p/buổi không phân biệt
                            GV hay SV).
                        </li>
                    </ul>
                    <h5 class="fw-bold mb-3 mt-4">LIÊN HỆ:</h5>
                    <ul class="list-unstyled section-3__list">
                        <li><i class="bi bi-check-circle-fill text-success me-2"></i>Sau khi có thông tin lớp GS gọi 2
                            cuộc, nếu PH/HV không nghe máy thì GS để lại tin nhắn rồi 30 phút sau gọi lại thêm 2 cuộc.
                            Nếu vẫn chưa nghe máy thì báo lại Trung tâm để được hướng dẫn thêm.</li>
                    </ul>
                    <p class="section-3__note mt-4">
                        Gia sư vui lòng đọc kỹ để đảm bảo quyền lợi của mình!
                    </p>
                </div>


            </div>
        </div>
    </div>
</section>